---
bg: "bg.svg"
layout: default
crawlertitle: "Listwon"
title: "Bartłomiej T. Listwon"
summary: "Jack of all trades"
---

{% for post in site.posts limit: 5 %}
  <article class="index-page">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="post-meta">
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d-%m-%Y" }}</time>

      {% if post.author %}
        &nbsp;/&nbsp;
        <span>{{ post.author }}</span>
      {% endif %}
    </p>
    {{ post.excerpt }}
  </article>
{% endfor %}
